$carousel-view-min-height: 18rem !default;
$carousel-view-max-height: min-content !default;
$carousel-view-min-width: 48rem !default;
$carousel-view-max-width: min-content !default;
$carousel-view-padding: 1rem !default;
$carousel-navigation-gap: 0.5rem !default;

.carousel {
	display: grid;
	grid-template-columns: auto minmax($carousel-view-min-width, $carousel-view-max-width) auto;
	grid-template-rows: minmax($carousel-view-min-height, $carousel-view-max-height) auto;
	grid-template-areas:
		"left	view	right"
		"nav	nav		nav";

	.carousel-view {
		align-self: stretch;
		grid-area: view;
		padding: $carousel-view-padding;
		& > * {
			height: 100%;
		}
	}

	.carousel-back {
		align-self: center;
		grid-area: left;
		text-decoration: none;
	}
	.carousel-next {
		align-self: center;
		grid-area: right;
		text-decoration: none;
	}

	.carousel-navigation {
		grid-area: nav;
		display: flex;
		justify-content: center;

		& > *:not(:last-child) {
			margin-right: $carousel-navigation-gap;
		}
	}
}
