$box-inverted-color: $white-bis !default;
$title-inverted-color: $white !default;

.modal {
	/* Fix IE11 bug about modal not aligning to center. https://github.com/jgthms/bulma/issues/460 */
	flex-direction: column;
}

// Dark mode
.has-text-inverted {
	.box,
	&.box {
		color: $box-inverted-color;
	}
	.title {
		color: $title-inverted-color;
	}
}
