<template>
	<section class="page container section">
		<h1 class="header title">Carousel + Router demo</h1>
		<bulma-carousel
			class="main"
			:current="$route"
			:items="routes"
			@navigate="navigateTo">
			<div class="box has-background-dark has-text-inverted">
				<router-view />
			</div>
		</bulma-carousel>
		<footer class="footer content">
			See source
			<a href="https://gitlab.com/riovir/sample-bulma-carousel-navigation" target="_blank">
				on GitLab</a>.
		</footer>
	</section>
</template>

<script>
export default {
	props: {
		routes: { type: Array, default: () => [] }
	},
	methods: {
		navigateTo(route) { this.$router.push(route); }
	}
};
</script>

<style lang="scss" scoped>
.page {
	display: grid;
	grid-template:
		"header"	auto
		"main"		1fr
		"footer"		auto
		/1fr;
	height: 100vh;

	.header {
		grid-area: header;
		justify-self: center;
		text-align: center;
	}
	.main {
		align-self: center;
		grid-area: main;
		justify-self: center;
	}
	.footer {
		grid-area: footer;
		text-align: center;
	}
}
</style>
