<template>
	<div class="carousel">
		<div class="carousel-view">
			<slot />
		</div>
		<button
			class="carousel-back button is-text is-large"
			:disabled="!hasBack"
			@click="navigateBy(-1)">
			◀
		</button>
		<button
			class="carousel-next button is-text is-large"
			:disabled="!hasNext"
			@click="navigateBy(1)">
			▶
		</button>
		<div class="carousel-navigation">
			<button
				v-for="item in items"
				:key="item.name"
				class="button is-small is-rounded"
				:class="{
					[dotClass]: true,
					[dotActiveClass] : isActive(item)
				}"
				@click="navigateTo(item)" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'BulmaCarousel',
	props: {
		current: { type: Object, required: true },
		items: { type: Array, default: () => [] },
		dotClass: { type: String, default: '' },
		dotActiveClass: { type: String, default: 'is-link is-active' }
	},
	computed: {
		itemNames() { return this.items.map(({ name }) => name); },
		currentIndex() { return this.itemNames.indexOf(this.current.name); },
		hasBack() { return 0 < this.currentIndex; },
		hasNext() { return this.currentIndex < this.itemNames.length - 1; },
	},
	methods: {
		isActive({ name }) { return this.current.name === name; },
		navigateBy(delta) {
			const index = this.currentIndex;
			const names = this.itemNames;
			const name = names[index + delta];
			this.navigateTo({ name });
		},
		navigateTo({ name }) {
			if (!name) { return; }
			this.$emit('navigate', { name });
		}
	}
};
</script>
